<!DOCTYPE html>
<html lang="en">
	<head>
		<title>test</title>
	</head> 
	<body>
		{{{ body }}}
	</body>

	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

    <script type="text/javascript">
      $(document).ready(function(){
        function getSubreddits() {
          $.ajax({
            url: "/sub",
            method: "GET"
          }).done(response => {
            //TODO display buttons for every subreddit #not working
            var div = $("<div class='btn_div'>");
            response.forEach(obj => {
              var btn = $("<button class='sub_btn'>");
              btn.val(obj.name);
              btn.append(div);
            });
          });
        };

        $("#scrape-subreddit").on("click", function(event) {
          event.preventDefault();
          var sub = $("#sub-input").val().trim();
          var queryURL = "/scrape/" + sub;
          $("#sub-input").val(" ");
          console.log(queryURL);

          $.ajax({
            url: queryURL,
            method: "GET"
          }).done(response => {
            console.log(response);
          }).then(function() {
          	$.get("/posts/" + sub, (data, status) =>{
          		console.log(data);
          		console.log(status);
          	})
          });
        });

        getSubreddits();
      });
    </script>

</html>
