<!DOCTYPE html>
<html lang="en">
	<head>
		<title>test</title>
	</head>
	<body>
		{{{ body }}}
	</body>

	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

    <script type="text/javascript">
      $(document).ready(function(){
        // not working 
        //ajax get with input
        //redisplay with handlebars
        $("#scrape-subreddit").on("click", function(event) {
          event.preventDefault();
          var queryURL = "/scrape/" + $("#sub-input").val().trim();
          $("#sub-input").val(" ");
          console.log(queryURL);

          $.ajax({
            url: queryURL,
            methdod: "GET"
          }).done(function(response) {
            console.log(response);
          })
        });
      });
    </script>

</html>
