<!DOCTYPE html>
<html lang="en">
	<head>
		<title>test</title>
	</head> 
	<body>
		{{{ body }}}
	</body>

	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

    <script type="text/javascript">
      $(document).ready(function(){

        //When scrape button is clicked
        //Scrapes subreddit, checks for copies in db, writes, reroutes to page to display newly scraped posts
        $("#scrape-subreddit").on("click", function(event) {
          event.preventDefault();
          var sub = $("#sub-input").val().trim();
          var queryURL = "/scrape/" + sub;
          $("#sub-input").val(" ");
          console.log(queryURL);

          $.ajax({
            url: queryURL,
            method: "GET"
          }).done(response => {
            console.log(response);
          }).then(function() {
          	$.get("/posts/" + sub, (data, status) =>{
          		console.log(data);
          		console.log(status);
              window.location.href = '/home/' + sub;
          	})
          });
        });
        //TODO display comment div
        //form to post comment to db 
        $("#comment-div").on("click", function(event) {
          event.preventDefault();
          console.log(event.target.attributes[1]);
          // $(".comments").show();
        });

      });
    </script>

</html>
